body{
    /*display:flex;
    flex-wrap: wrap;
     */
    background-color: rgb(240, 240, 240);
    color:rgb(20, 20, 20);
    font-family: sans-serif;
    font-size: large;
    /*margin: 0;*/
    font-weight: 300;
}
.backcol{
    background-color: rgb(141, 141, 141);
}
.grid{
    width: 90%;
    display: grid;
    justify-content: center;
    border: solid 7px rgb(200, 137, 0);
    margin: auto;
    grid-gap: 15px;
    padding: .0% .8% .8% .8%;
    grid-template-columns: 70%  30%;
    grid-template-rows: 55% 45%;
    grid-template-areas: "top top""bottomleft bottomright";
}
#forlater{
    border:solid 5px #2e2e2e;
    background-color: #67646c;
    color: aliceblue;
    margin-top: 1%;
    width: 25%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.flexbox{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
}

.next{
    width:fit-content;
     margin: auto;
     height:max-content;
     padding: 1%;
     font-size: 130%;
     margin-top: 50px;
     text-align:center;
     border:solid 5px rgb(77, 77, 77);
     background-color:rgb(190, 190, 190);
     color: rgb(0, 0, 0);
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
.newhead{
    padding: .5%;
    margin: auto;
    font-size: 120%;
    width: 90%;
    border:solid rgb(42, 42, 42);
    text-align: center;
    vertical-align: middle;
    border-width: 0px 20px 5px 20px;
}
.ccontain{
    display: flex;
    justify-content: center;
}
 #container{
    background-color: aliceblue;
     border: solid 1px #202324;
     width: 558px;
     height: 540px;
     display: flex;
     flex-wrap: wrap;
     margin: auto;
 }
 .black{
     background-color: black;
     color:white;
    order:2 ;   
}
 .white{
     order: 1;
     background-color: white;
     color:black;
 }
 .gray{
    order:3;
     background-color: #202324;
     color: aliceblue;
 }
 .box{
     float: left;
     text-align: center;
     font-size: 160px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     width: 180px;
     height: 180px;
 }
 #skinny{
    width: 192px;
    background-color: rgb(94, 100, 0);
 }
 h3{
    font-weight: bold;
    font-family: 'Hubballi', cursive;
 }


 strong{
    color:rgb(161, 161, 161)
 }
 .mydiv{
    border: 4px;
    border-color: #5a5a5a;
    border-style: solid;
    position:relative;
    padding: 5px;
    margin: 5px;
 }
 li {
     display:flex;
     flex-wrap: wrap;
     font-family: 'Hubballi', cursive;
     margin: 10px;
    ;
     border: 2px solid rgb(83, 83, 83);
     background-color: rgb(255, 255, 255);
     width:fit-content;
 }
 li li{
     padding: 3px;
     margin: 10px;
     border: 2px solid rgb(87, 87, 87);
     background-color: rgb(58, 58, 58);
     width:fit-content;
     height: 20px;
 }
 p em{
    color:rgb(70, 70, 70)
 }
 