.next{
   width:fit-content;
    margin: auto;
    height:max-content;
    padding: 1%;
    font-size: 130%;
    margin-top: 50px;
    text-align:center;
    border:strong 2px;
    border-color :rgb(102, 102, 102);
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#container{
   background-color: aliceblue;
    border: solid 1px #202324;
    width: 540px;
    height: 540px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.black{
    background-color: black;
}
.white{
    background-color: white;
    color:black;
}
.box{
    float: left;
    text-align: center;
    font-size: 160px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 180px;
    height: 180px;
}
#skinny{
   width: 192px;
   background-color: rgb(94, 100, 0);
}
body{
   /*display:flex;
   flex-wrap: wrap;
    */
   background-color: #202324;
   color:white;
   font-family: sans-serif;
}
h3{
   font-weight: bold;
   font-family: 'Hubballi', cursive;
}
p{
   color: rgb(104, 209, 104);
}
em{
   color:aqua;
}
strong{
   color:burlywood
}
.madiv{
   background-color:rgb(32, 68, 32);
   border-color: red;
   border-style: groove;
}
li {
    display:flex;
    flex-wrap: wrap;
    font-family: 'Hubballi', cursive;
    margin: 10px;
   ;
    border: 2px solid rgb(255, 0, 242);
    background-color: rgb(141, 27, 10);
    width:fit-content;
}
li li{
    padding: 3px;
    margin: 10px;
    border: 2px solid rgb(87, 87, 87);
    background-color: rgb(3, 78, 16);
    width:fit-content;
    height: 20px;
}
p em{
   color:rgb(251, 135, 93)
}
