td{
    border: solid 1px black;
    margin: 0;
    padding: 8;
    font-size: 90%;
}
.presub{
    font-size: 100px;
}
.sticky-div {
    background-color: #202020ca;
    /* border: solid 4px white; */
    position: sticky;
    top: 0px;
    border-bottom: solid 2px white;
    width: 100%;
    margin-top: 0;
    padding: 0px 0px 1px;
}
tr{
    border: solid 1px black;
    margin:8px;
}
th{
    border: solid 1px black;
    padding: 4px;
    font-size: 100%;
}
thead{
    color: white;
    background-color: rgb(151, 151, 151);
    border: solid 1px black;
    margin: 8;
}
.button{
    font-size: 4vw;
    border: solid 2px black;
    border-radius: 12px;
    background-color: rgb(151, 151, 151);
    width: fit-content;
    padding: 3px;
}
table{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 0 0 0 0; 
    margin: 0;
    border-spacing: 0;
    border: solid 2px rgb(0, 0, 0);
}
a{
    text-decoration: none;
}
#gridlayout{
    justify-content: center;
    justify-items:center ;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /*1fr takes the left space and uses it and can be used as a piece of the page*/
    /*grid-auto-rows: minmax(100px,auto); is an option too */
    grid-template-rows: 100%;
    grid-template-areas:
    "l3 l2 l1 main r1 r2 r3"
    ;
    border-bottom: solid 2px white;
    background-color: #202020ca;
    top: 0px;
    width: 100%;
    margin-top: 0;
    padding: 0px 0px 1px;
}